<!doctype html>
<html lang="en" class="h-100">
  <head prefix="og: http://ogp.me/ns#">
    {% include head/head.html %}
  </head>
  <body class="d-flex flex-column h-100">
<!--     <div id="skip-to-content"><a href="#maincontent">Skip to main content</a></div> -->
    {% include collection-banner.html %}
    {% include collection-nav.html %}
    <main id="maincontent" role="main" class="flex-shrink-0">
      <div>
        <ul>
          <li class=""><span class="col-md-m3"></span>Item<span class="col-md-9">Item Description</span></</li>
            <div class="col-md-3">item</div>
            
          </li>
        </ul>
      </div>
    </main>
    {% include footer.html %}
    {% include foot.html %}
    {% include scroll-to-top.html %}
  </body>
</html>
